{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Title ============================================= -->
    <section id="page-title" class="page-title-parallax page-title-dark page-title-left"
             style="
                     padding: 250px 0;
                     background-image: url({{ asset('images/wandering-loyalty/1920x1080_acoustic_whiskey.jpg') }});
                     background-size: cover;
                     background-position: center center;"
             data-bottom-top="background-position:0px 390px;" data-top-bottom="background-position:0px -500px;"
             xmlns="http://www.w3.org/1999/html">

        <div class="container clearfix" style="z-index: 5; white-space: normal;
                                 font-size: 70px; line-height: 50px; font-weight: 900; color: #ffffff;
                                 font-family:Quicksand; text-shadow: 10px 10px 10px #000;">
            <h1>How Many Ways</h1>
            <span style="color: #ffffff; font-weight: bold; font-style: italic;">Hope &amp; Fire (2020)</span>
            <span style="color: #ffffff; font-weight: bold;">Charlie Hazelwood - Lyrics</span>
            <span style="color: #ffffff; font-weight: bold;">Jay Lee Ramsey - Lead Guitar and Vocals</span>
            <span style="color: #ffffff; font-weight: bold;">Vincent Z. Whaley - Rhythm Guitar</span>
            <span style="color: #ffffff; font-weight: bold;">Christine Hollifield Hughes - Harmonica</span>
            <span style="color: #ffffff; font-weight: bold;">John Skinner - Bass Guitar</span>
            <span style="color: #ffffff; font-weight: bold;">John Foster - Percussion</span>
        </div>

    </section><!-- #page-title end -->

    <!-- Content ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="footer-widgets-wrap clearfix"
                     style="margin: 0 auto; text-align: center; padding-bottom:25px;">

                    <p style="font-family:Quicksand; font-size: 27px;">How Many Ways</p>
                    <iframe src="{{ asset('music/silence.mp3') }}" type="audio/mp3" allow="autoplay" id="audio"
                            style="display:none"></iframe>
                    <audio id="audio-player" autoplay controls controlsList="nodownload">
                        {#                        <source src="" type="audio/ogg">#}
                        <source src="{{ asset('music/03_How_Many_Ways.mp3') }}" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                    <p style="margin-top:35px;">Copyright &copy; {{ "now"|date("Y") }} All Rights Reserved by Wandering
                        Loyalty and Moon Whale Media Recordings</p>

                </div>

                <div class="nobottommargin">
                    <div class="feature-box media-box">
                        <div class="fbox-media" style="margin: 0 auto; text-align: center;">
                            <p style="font-family:Quicksand; font-size: 18px; color:#333;">
                                If you could see my wounded heart,<br/>
                                You would see my world torn apart.<br/>
                                If you could read my troubled mind,<br/>
                                You would see what you've left behind
                            </p>
                            <p style="font-family:Quicksand; font-size: 18px; color:#333;">
                                You killed our bliss with another kiss,<br/>
                                I'm just another man on your list.<br/>
                                You ruined our love with a dark twist,<br/>
                                I'm surviving the pain... that exists.
                            </p>
                            <p style="font-family:Quicksand; font-size: 18px; color:#333;">
                                We were living a lie,<br/>
                                Only one of us knew.<br/>
                                The other was just me,<br/>
                                I was playing the fool.
                            </p>
                            <p style="font-family:Quicksand; font-size: 18px; color:#333;">
                                How many ways have I trusted you?<br/>
                                How many ways have you been untrue?<br/>
                                How many ways can you kill my heart?<br/>
                                How many ways can you tear it apart?
                            </p>
                            <p style="font-family:Quicksand; font-size: 18px; color:#333;">
                                What one woman considers trash,<br/>
                                Another woman will treasure.<br/>
                                What one woman smolders to ash,<br/>
                                Another will love... forever.
                            </p>
                            <p style="font-family:Quicksand; font-size: 18px; color:#333;">
                                We were living a lie,<br/>
                                Only one of us knew.<br/>
                                The other was just me,<br/>
                                I was playing the fool.
                            </p>
                            <p style="font-family:Quicksand; font-size: 18px; color:#333;">
                                How many ways have I trusted you?<br/>
                                How many ways have you been untrue?<br/>
                                How many ways can you kill my heart?<br/>
                                How many ways can you tear it apart?
                            </p>
                            <p style="color:#333; margin-top:35px;">Copyright &copy; {{ "now"|date("Y") }} All Rights
                                Reserved by Wandering
                                Loyalty and Moon Whale Media Recordings</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- #content end -->

{% block script %}
    <!-- External JavaScripts
    ============================================= -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="{{ asset('js/functions.js') }}"></script>

    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <script src="{{ asset('include/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <!-- SLIDER REVOLUTION ADDONS  -->
    {#<script src="{{ asset('include/rs-plugin/js/addons/revolution.addon.revealer.min.js') }}"></script>#}
    <script src="{{ asset('include/rs-plugin/js/addons/revolution.addon.particles.min.js') }}"></script>
    <!-- SLIDER REVOLUTION EXTENSIONS  -->
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.carousel.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.migration.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.parallax.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.video.min.js') }}"></script>
    </script>
        {% endblock %}

{% endblock %}
