<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168749354-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168749354-1');
    </script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Wandering Loyalty" />
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700,800,900|Montserrat:400%2C700%7CAbril+Fatface:400%7CYellowtail:400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/dark.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/font-icons.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/settings.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/layers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/navigation.css') }}">

    <!-- ADD-ONS CSS FILES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/addons/revolution.addon.revealer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/addons/revolution.addon.revealer.preloaders.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('include/rs-plugin/css/addons/revolution.addon.particles.css') }}">

    <!-- Document Title
    ============================================= -->
    <title>Wandering Loyalty - Rock and Roll Band from Tennessee</title>

    {% if turnstile_site_key %}<meta name="turnstile-site-key" content="{{ turnstile_site_key }}" />{% endif %}
    <link rel="stylesheet" href="{{ asset('css/contact-drawer.css') }}" type="text/css" />

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

{% block header %}

    {% include 'partials/header.html.twig' %}

{% endblock %}

{% block body %} {% endblock %}

</div>

{% block footer %}

    {% include 'partials/footer.html.twig' %}

{% endblock %}

{% block script %} {% endblock %}

{% include 'partials/contact_drawer.html.twig' %}
{% if turnstile_site_key %}<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>{% endif %}
<script src="{{ asset('js/contact-drawer.js') }}"></script>
</body>
</html>