{% extends 'base.html.twig' %}

{% block body %}
<!-- Page Title ============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark page-title-left"
         style="padding: 250px 0; background-image: url({{ asset('images/wandering-loyalty/1920x1080_violin.jpg') }}); background-size: cover; background-position: center center;"
         data-bottom-top="background-position:0px 440px;" data-top-bottom="background-position:0px -500px;">

    <div class="container clearfix">
        <h1>MUSICIANS</h1>
        <span></span>
    </div>

</section><!-- #page-title end -->

<!-- Content ============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- BEGIN MUSICIAN PIC LEFT -->
            <a name="jay"></a>
            <div style="padding-bottom:60px;"></div>
            <div class="row align-items-stretch clearfix">
                <div class="col-md-5 col-padding"
                     style="background: url({{ asset('images/wandering-loyalty/musicians/Jay_Ramsey_1920x2347.jpg') }})
                             center center no-repeat; background-size: cover;width:450px;height:550px;">
                </div>
                <div class="col-md-7 col-padding" style="padding-top:5px !important;">
                    <div>
                        <div class="heading-block" style="margin-bottom:15px !important;">
                            <span class="before-heading color">Lead Vocals, Lead Guitar, Producer</span>
                            <h3>Jay Lee Ramsey</h3>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <p>At the young age of 12, Jay took money he had earned from mowing yards and birthday
                                    money from his father, Charlie, to buy his first guitar. With his new sunburst
                                    Fender
                                    Squier electric guitar, Jay began teaching himself how to play. It wasn't long
                                    before
                                    he was shredding the riffs of Eric Clapton and Jimmy Page to eventually writing his
                                    own music.</p>
                                <p>Playing lead guitar in his first band, Wylee Reece, Jay joined his uncle and cousin
                                    in writing and producing their first, self-titled album.</p>
                                <p>In late 2018, Jay joined his longtime friend, Vincent Z. Whaley, in writing some new
                                    songs. Thus, Wandering Loyalty was born. Jay and Vincent wrote 10 songs together for
                                    the band's debut album titled <span
                                            style="font-style: italic;">Hope &amp; Fire</span>.
                                    Jay recorded, mixed and produced the entire album in his home studio.</p>
                                <p>In his spare time when not writing new music for Wandering Loyalty, Jay performs with
                                    friends and family in another band, Gigs of Ram.</p>
                                <a href="https://www.facebook.com/WanderingLoyalty/"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCXYrT7A5hJIAuvSDEBFWhYA"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MUSICIAN PIC LEFT -->
            <!-- BEGIN MUSICIAN PIC RIGHT -->
            <a name="vincent"></a>
            <div style="padding-bottom:60px;"></div>
            <div class="row align-items-stretch bottommargin-lg clearfix" style="margin-bottom: 0 !important;">

                <div class="col-md-7 col-padding" style="padding-top:5px !important;">
                    <div>
                        <div class="heading-block" style="margin-bottom:15px !important;">
                            <span class="before-heading color">Lyrics &amp; Rhythm Guitar</span>
                            <h3>Vincent Z. Whaley</h3>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <p>Vincent began learning guitar at the young age of 13 after watching in awe at his
                                    Uncle Richard Hughes play and sing countless rock and roll songs. Having learned
                                    guitar on a Palmer Growler, Vincent brought back a Sunburst Epiphone Les Paul from
                                    Europe in 1995. Although he owns more guitars than he can count, Vincent still plays
                                    this same Les Paul and considers it one of the best axes in his arsenal.</p>
                                <p>Although he works as a software application developer, Vincent's main passion is
                                    writing, including the majority of the lyrics for Wandering Loyalty's debut album,
                                    <span style="font-style: italic;">Hope &amp; Fire</span>.</p>
                                <p>Having played music with the majority of every musician listed on this page for many
                                    years, Vincent deems the writing and creation of Wandering Loyalty's debut album as
                                    one of the most rewarding experiences of his musical journey.</p>
                                <p>When not browsing for the next piece of treasure to add to his massive Star Wars
                                    collection, Vincent enjoys spending his leisure time with his fiance, Lori, and his
                                    16-year-old son, Jacob.</p>
                                <a href="https://www.facebook.com/WanderingLoyalty/"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCXYrT7A5hJIAuvSDEBFWhYA"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-padding"
                     style="background: url({{ asset('images/wandering-loyalty/musicians/Vincent_Z_Whaley_1085x1325.jpg') }})
                             center center no-repeat; background-size: cover; width:450px;
                             height:550px;">
                </div>
            </div>
            <!-- END MUSICIAN PIC RIGHT -->
            <!-- BEGIN MUSICIAN PIC LEFT -->
            <a name="skinner"></a>
            <div style="padding-bottom:60px;"></div>
            <div class="row align-items-stretch clearfix">
                <div class="col-md-5 col-padding"
                     style="background: url({{ asset('images/wandering-loyalty/musicians/Skinner_450x550.jpg') }})
                             center center no-repeat; background-size: cover;width:450px;height:550px;"></div>
                <div class="col-md-7 col-padding" style="padding-top:5px !important;">
                    <div>
                        <div class="heading-block" style="margin-bottom:15px !important;">
                            <span class="before-heading color">Bass Guitar</span>
                            <h3>John Skinner</h3>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <p>At age 13 while living in Charleston, West Virginia, John Skinner received his first
                                    bass guitar, a Memphis bass axe he used in the formation of the band Striker with
                                    friends. At age 19, John moved to Los Angeles with his band Striker. Having played
                                    such legendary joints as The Whisky A Go Go, The Roxy, Gazzari's and The Troubador,
                                    John lived the early 90s rock and roll dream on the California Sunset Strip.
                                </p>
                                <p>
                                    John was also a guitar tech for the band BONEBONY, which toured with legends Bob
                                    Seger and Steve Perry. John even helped tune Chuck Berry's guitar once. Earning an
                                    Associate’s Degree in Recording Engineering from Full Sail University in Orlando,
                                    Florida, John also played bass guitar in the band Crawdad.
                                </p>
                                <p>
                                    Having written and recorded two albums with Nashville-based Living Room Theory, John
                                    graciously wrote and recorded bass guitar tracks for Wandering Loyalty's debut album
                                    <span style="font-style: italic;">Hope & Fire</span> at the request of his longtime
                                    friend, Vincent
                                    Z. Whaley.
                                </p>
                                <a href="https://www.facebook.com/WanderingLoyalty/"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCXYrT7A5hJIAuvSDEBFWhYA"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MUSICIAN PIC LEFT -->
            <!-- BEGIN MUSICIAN PIC RIGHT -->
            <a name="jason"></a>
            <div style="padding-bottom:60px;"></div>
            <div class="row align-items-stretch bottommargin-lg clearfix" style="margin-bottom: 0 !important;">

                <div class="col-md-7 col-padding" style="padding-top:5px !important;">
                    <div>
                        <div class="heading-block" style="margin-bottom:15px !important;">
                            <span class="before-heading color">Percussion &amp; Guitar</span>
                            <h3>Jason Gross</h3>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <p>Hailing from the Chicago area, Jason Gross grew up on a steady diet of heavy metal,
                                grunge and punk music, in addition to loving reggae. Having played guitar and
                                "yelled vocals" for many bands, Jason also learned to play bass guitar, mandolin,
                                ukelele and drums.</p>
                                <p>Some bands that Jason is proud to have played in include Lurchbox, Misanthrope, KZN,
                                Olympus Cheesecake With Tits, Distorted Truth, Further From The Truth and The Lie.</p>
                                <p>Currently living in Erwin, Tennessee, Jason joined Wandering Loyalty after an
                                introduction from Richard Hughes and our brother band, Gigs of Ram. Jason contributed
                                percussion to every song on <span style="font-style: italic;">Hope & Fire</span> except for "How Many
                                Ways," in which Jay Ramsey's uncle, John Foster, performed. Jason also contributed some
                                guitar tracks to "Along The Nashville Mile."</p>
                                <p>"Recording this album was a lot of fun and an amazing experience," Jason said. "I
                                can't wait to make more music with you guys and gals."</p>
                                <a href="https://www.facebook.com/WanderingLoyalty/"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCXYrT7A5hJIAuvSDEBFWhYA"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-padding"
                     style="background: url({{ asset('images/wandering-loyalty/musicians/Jason_Gross_450x550.jpg') }})
                             center center no-repeat; background-size: cover; width:450px;
                             height:550px;">
                </div>
            </div>
            <!-- END MUSICIAN PIC RIGHT -->
            <!-- BEGIN MUSICIAN PIC LEFT -->
            <a name="chris"></a>
            <div style="padding-bottom:60px;"></div>
            <div class="row align-items-stretch clearfix">
                <div class="col-md-5 col-padding"
                     style="background: url({{ asset('images/wandering-loyalty/musicians/Christine_450x550.jpg') }})
                             center center no-repeat; background-size: cover; width:450px;
                             height:550px;">
                </div>
                <div class="col-md-7 col-padding" style="padding-top:5px !important;">
                    <div>
                        <div class="heading-block" style="margin-bottom:15px !important;">
                            <span class="before-heading color">Harmonica</span>
                            <h3>Christine Hollifield Hughes</h3>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <p>Finding a harmonica in a railroad work bag around age 10, Christine was taught
                                    her
                                    first song by her father, Paul Kenneth Hollifield. From coal mines of her
                                    ancestors to the foothills of the Appalachian trails, Christine lived in a
                                    community rich in music. Never taking formal lessons, she learned by watching
                                    and
                                    listening to friends while they played during molasses boiling and working in
                                    tobacco.</p>
                                <p>From acoustic guitars and bass guitars to banjos and harmonicas, Christine can
                                    play any instrument you hand her, in addition to singing sultry vocals
                                    comparable to Stevie Nicks from Fleetwood Mac. Christine regularly joins Jay
                                    Ramsey and Jason Gross playing music in Gigs of Ram with Vincent's legendary
                                    rock and roll uncle, Richard Hughes, and the Evil Genius, Mr. Frankie Ramsey.
                                </p>
                                <p>"I am over the moon to be included in Wandering Loyalty," Christine said. "The
                                    hard work and dedication that has gone into this project is the highlight of my
                                    career. Vincent and Jay have worked tirelessly to complete this wonderful
                                    structure of timeless musical temptations that will touch your soul."</p>
                                <a href="https://www.facebook.com/WanderingLoyalty/"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCXYrT7A5hJIAuvSDEBFWhYA"
                                   target="_blank"
                                   class="social-icon inline-block si-small si-light si-rounded si-youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MUSICIAN PIC LEFT -->
            <!-- BEGIN MUSICIAN PIC RIGHT -->
            <a name="shannon"></a>
            <div style="padding-bottom:60px;"></div>
            <div class="row align-items-stretch bottommargin-lg clearfix" style="margin-bottom: 0 !important;">
                <div class="row align-items-stretch clearfix">
                    <div class="col-md-7 col-padding" style="padding-top:5px !important;">
                        <div>
                            <div class="heading-block" style="margin-bottom:15px !important;">
                                <span class="before-heading color">Lyrics &amp; Vocals</span>
                                <h3>Shannon Frazier</h3>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-12">
                                    <p>Having received guitar lessons from the same instructor who taught country music
                                        artist Kenny Chesney, Shannon B. Frazier has focused more of her career in
                                        performing arts and vocals. During her stint performing musical productions at
                                        the
                                        Jonesborough (Tennessee) Repertory Theater, she broadened her vocal stylings to
                                        include blues and jazz from the 1940s.</p>
                                    <p>Currently living in the Blue Ridge Mountain area of Western North Carolina,
                                        Shannon
                                        traveled back to Northeast Tennessee to add lyrics and vocals to
                                        <span style="font-style: italic;">Hope &amp; Fire</span> at
                                        the request of her longtime friend, Vincent Z. Whaley. Shannon wrote the ending
                                        lyrics to "Still Unbroken" and "Hope & Fire," in addition to singing on both
                                        songs.</p>
                                    <p>"Vincent trusted me to vocally add something unique to the album and I hope that
                                        I
                                        delivered," Shannon said. "I met Jay Ramsey for the first time in person on
                                        recording day and was able to instantly connect to his encouraging demeanor.
                                        This
                                        collaboration was a blast and I hope that others enjoy the album as much as we
                                        have
                                        enjoyed creating it."</p>
                                    <a href="https://www.facebook.com/WanderingLoyalty/"
                                       target="_blank"
                                       class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCXYrT7A5hJIAuvSDEBFWhYA"
                                       target="_blank"
                                       class="social-icon inline-block si-small si-light si-rounded si-youtube">
                                        <i class="icon-youtube"></i>
                                        <i class="icon-youtube"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-padding"
                         style="background: url({{ asset('images/wandering-loyalty/musicians/Shannon_450x550.jpg') }})
                                 center center no-repeat; background-size: cover; width:450px;
                                 height:550px;">
                    </div>
                </div>
                <!-- END MUSICIAN PIC RIGHT -->
            </div>
        </div>

</section><!-- #content end -->

{% block script %}
<!-- External JavaScripts
============================================= -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/plugins.js') }}"></script>

<!-- Footer Scripts
============================================= -->
<script src="{{ asset('js/functions.js') }}"></script>

<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<script src="{{ asset('include/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
<!-- SLIDER REVOLUTION ADDONS  -->
{#<script src="{{ asset('include/rs-plugin/js/addons/revolution.addon.revealer.min.js') }}"></script>#}
<script src="{{ asset('include/rs-plugin/js/addons/revolution.addon.particles.min.js') }}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS  -->
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.carousel.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script src="{{ asset('include/rs-plugin/js/extensions/revolution.extension.video.min.js') }}"></script>
</script>
{% endblock %}

{% endblock %}
